html,body {
  height: 100%;
  background: linear-gradient(pink, rgb(99, 171, 253));
  align-items: center;
}
h1 {
  font-size:xx-large;
  font-weight: bold;
  color: rgb(74, 89, 223);
  font-style: initial;
  text-align: center;
}
.square {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  background-color:gray;
  color:springgreen;
  text-align: center;
  font-size: 100pt;
}
.level {
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
}
.answer-position {
  text-align: center;
  margin: 0 auto;
  font-size: medium;
}
.time {
  color: black;
}
